body {
    color: green;
}

// Changed .marketing colors
.marketing {
    h4 {
      a {
        color: $brand-warning;
        }
    }
    p {
        color: $brand-primary;
    }
}

// Used mixins to alter .jumbotron container
.container .jumbotron {
    @include border-top-radius(0px);
    @include border-bottom-radius(50px);
}
